[Unit]
Description=gunicorn daemon for Django project
After=network.target

[Service]
User=osboxes
Group=www-data
WorkingDirectory=/home/osboxes/Documents/myproject123/web
ExecStart=/home/osboxes/Documents/myproject123/.venv/bin/gunicorn myWeb.wsgi \
    --workers 3 \
    --bind unix:/run/myproject123/gunicorn.sock

Restart=always

[Install]
WantedBy=multi-user.target
